h1 {
    border-style: solid ;
    border width: 10px ;
    border color: burlywood;
}
.class1 {
    color:burlywood;
}
p{
     color:burlywood;
}
.class1 {
    background-size: 100%;
    border color: burlywood;
    background-image: url(image/spring-day.jpg); 
     background-repeat: no-repeat;
    height: 1510px;
    width: 1510px;
}
.claas1 h1 {
    color: hsl(0, 0%, 100%);
}
h1  { text-align: center}
